<!-- <core-table-filter (change)="filter('id', $event)">

</core-table-filter> -->

<cdk-virtual-scroll-viewport coreTableVirtualScroll>
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event && toggleAll()"
          [checked]="selectedAll"
          [indeterminate]="indeterminate"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event && toggle(row)"
          [checked]="isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef [style.width.rem]="4">
        <core-table-filter (change)="filter('id', $event)">
          <div mat-sort-header>ID</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('name', $event)">
          <div mat-sort-header>Name</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('company', $event)">
          <div mat-sort-header>Comapny</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.company }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('department', $event)">
          <div mat-sort-header>Department</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.department }}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('country', $event)">
          <div mat-sort-header>Country</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.country }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('email', $event)">
          <div mat-sort-header>Email</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="sales">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('sales', $event)">
          <div mat-sort-header>Sales</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.sales }}</td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('rating', $event)">
          <div mat-sort-header>Rating</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.rating }}</td>
    </ng-container>

    <ng-container matColumnDef="feedback">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('feedback', $event)">
          <div mat-sort-header>Feedback</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.feedback }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('address', $event)">
          <div mat-sort-header>Address</div>
        </core-table-filter>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.address }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <core-table-menu (clear)="clearFilters()"></core-table-menu>
      </th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>
    <ng-container matColumnDef="progress">
      <th
        mat-header-cell
        *matHeaderCellDef
        [attr.colspan]="displayedColumns.length"
      >
        <mat-progress-bar
          [class.show]="pending"
          mode="indeterminate"
        ></mat-progress-bar>
      </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: sticky"></tr>
    <tr
      mat-header-row
      class="progress"
      *matHeaderRowDef="['progress']; sticky: sticky"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</cdk-virtual-scroll-viewport>
